@import "../fontColors.scss";

.privacy {
  padding: 5em 0;
  border-bottom: $borderBottom;
  position: relative;

  .purple {
    position: absolute;
    bottom: 20%;
    margin-left: 6em;
    width: 15px;
  }

  .sec-purple {
    position: absolute;
    right: 50%;
    top: 15%;
    width: 15px;
  }

  .third-purple{
    position: absolute;
    left: 60%;
    top: 60%;
    width: 15px;
  }

  .sec-purple {
    position: absolute;
    right: 50%;
    top: 15%;
    width: 15px;
  }
  
  .white {
    position: absolute;
    right: 0;
    margin-right: 7em;
    bottom: 25%;
    width: 20px;
  }

  .sec-white {
    position: absolute;
    right: 0;
    margin-right: 20%;
    top: 15%;
    width: 15px;
  }

  .third-white{
    position: absolute;
    left: 30%;
    width: 15px;
    margin-top: -3em;
  }

  .wrapper {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
      width: 40%;
      .head {
        width: 50%;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 1px;
        span {
          color: $primarycolor;
        }
      }

      .update {
        font-size: 12px;
        margin-top: 10px;
        color: lightslategrey;
      }

      .info {
        margin-top: 1em;
        font-size: 12px;
        width: 85%;
      }

      .section {
        margin-top: 2em;
        border-radius: 5px;
        border: 1px solid #d434fe;
        background: rgba(217, 217, 217, 0.03);
        padding: 3em 2em;

        .top {
          font-size: 12px;
        }

        .title {
          font-size: 13px;
          color: $primarycolor;
          margin-top: 1em;
          font-weight: bold;
        }

        h4 {
          font-size: 12px;
          margin-top: 5px;
        }

        .list-items {
          li {
            padding-left: 2em;
            font-size: 12px;
            margin-top: 2em;
            position: relative;
            &::before {
              content: "";
              background-image: url("../../assets/PrivacyImages/listterms.png");
              background-size: contain;
              background-repeat: no-repeat;
              width: 12px;
              height: 12px;
              position: absolute;
              left: 0;
              top: 0;
              margin-top: 3px;
            }
          }
        }

        .read-more {
          background: $lineargradient;
          width: 8em;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          margin: auto;
          margin-top: 2em;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            background: transparent;
            border-width: 1px;
            border-style: solid;
            border-image: $hoverGradient;
          }
        }
      }
    }

    .right {
      position: relative;

      .lock {
        position: absolute;
        width: 320px;
        right: 0;
        margin-right: 1em;
        top: 0;
        margin-top: -5em;
        z-index: -1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .privacy {
    .wrapper {
      max-width: 80vw;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .left {
        width: 100%;
        margin: auto;
        .head {
          width: 70%;
          margin: auto;
          text-align: center;
        }

        .update {
          text-align: center;
        }

        .info {
          width: 100%;
          text-align: center;
        }

        .section {
          margin-top: 2em;
          border-radius: 5px;
          border: 1px solid #d434fe;
          background: rgba(217, 217, 217, 0.03);
          padding: 2em 1em;

          .title {
            font-size: 13px;
            color: $primarycolor;
            margin-top: 1em;
            font-weight: bold;
          }

          h4 {
            font-size: 12px;
            margin-top: 5px;
          }

          .read-more {
            margin-top: 1em;
            font-size: 14px;
          }
        }
      }

      .right {
        position: relative;
        margin-top: 7em;

        img {
          width: 80%;
        }

        .lock {
          position: absolute;
          width: 70%;
          right: 0;
          margin-right: 3em;
          top: 0;
          margin-top: -4em;
          z-index: -1;
        }
      }
    }
  }
}
