@import "../fontColors.scss";
.hero {
  margin-top: 1em;
  padding-top: 2em;
  border-top: 1px solid rgba(211, 211, 211, 0.107);
  border-bottom: 1px solid rgba(211, 211, 211, 0.107);
  position: relative;

  .patch {
    position: absolute;
    top: 0;
    margin-top: -8em;
    z-index: -1;
  }

  .intro {
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .pink-stripe {
      width: 500px;
      &::after {
        content: url("../../assets/heroimages/curved.png");
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scale(0.7);
        margin-bottom: -1.3em;
      }
      p {
        font-size: 1.5em;
        font-style: italic;
        font-weight: 700;
        position: relative;
        text-align: center;
      }
    }
  }

  .container {
    max-width: 90vw;
    float: right;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6em;

    .box1 {
      width: 50%;

      .top {
        font-size: 3.8em;
        font-style: normal;
        font-family: "Poppins-B";
        font-weight: 900;
        position: relative;
        margin-top: 1em;

        .f-p {
          display: flex;
          align-items: center;
          gap: 6px;

          span {
            margin-left: 5px;
            color: #d434fe;
          }

          img {
            width: 60px;
          }
        }

        .light {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -0.8em;
          margin-right: 3em;

          img {
            width: 38px;
          }
        }
      }

      .middle {
        font-size: 14px;
        font-weight: normal;
        width: 60%;
        margin-top: 1em;
      }

      .reg-btn {
        margin-top: 2em;

        a {
          font-size: 14px;
          padding: 8px 2em;
          border-radius: 3px;
          outline: none;
          border: none;
          background: $lineargradient;

          &:hover {
            background: transparent;
            border-width: 1px;
            border-style: solid;
            font-size: 14px;
            border-image: $hoverGradient;
          }
        }

        .registered {
          background: transparent;
          cursor: pointer;
          border-width: 1px;
          border-style: solid;
          border-image: $hoverGradient;
          font-size: 14px;
          padding: 8px 2em;
          border-radius: 3px;
          width: 10em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .box2 {
      position: relative;
      img {
        width: 600px;
      }

      .abs-image {
        position: absolute;
        left: 0;

        margin-left: -2em;
        width: 550px;
      }
    }
  }

  .clear::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    .patch {
      margin-top: 0em;
      left: 0;
      img {
        width: 100%;
      }
    }

    .intro {
      max-width: 90vw;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      gap: 2em;

      .pink-stripe {
        width: 100%;
        &::after {
          margin-right: 3em;

          margin-bottom: 2em;
        }
      }

      .icon {
        margin-left: -7em;
        img {
          width: 15px;
        }
      }
    }

    .container {
      max-width: 100vw;
      margin: auto;
      float: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 0%;

      .box1 {
        width: 100%;
        margin: auto;
        text-align: center;

        .top {
          font-size: 2em;
          .f-p {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            img {
              width: 40px;
            }
          }

          .light {
            img {
              width: 22px;
            }
          }
        }

        .middle {
          font-size: 14px;
          font-weight: normal;
          width: 70%;
          margin: auto;
          margin-top: 1em;
        }

        .reg-btn {
          margin-top: 3em;

          a {
            padding: 1em 4em;
          }
        }
      }

      .box2 {
        position: relative;
        margin-top: 1em;
        img {
          width: 100%;
        }

        .abs-image {
          position: absolute;
          left: 0;
          margin-left: 0;
          width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero {
    .patch {
      img {
        width: 100%;
      }
    }
    .intro {
      max-width: 90vw;

      p {
        font-size: 1.9em;
      }
    }

    .container {
      max-width: 90vw;
      margin: auto;
      float: none;
      display: flex;
      justify-content: space-between;
      margin-top: 6em;

      .box1 {
        .top {
          font-size: 2.8em;

          margin-top: 0em;

          .f-p {
            img {
              width: 50px;
            }
          }
        }
      }

      .box2 {
        position: relative;
        img {
          width: 100%;
        }

        .abs-image {
          position: absolute;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
