@import "../fontColors.scss";

.prize {
  padding: 7em 0;
  position: relative;

  .lens1 {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 400px;
  }

  .lens2 {
    position: absolute;
    z-index: -1;
    margin-top: -8em;
    width: 800px;
  }

  .box {
    width: 100%;
    .div {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .title {
        width: 25%;
        margin-left: 38%;
        flex-direction: column;

        .head {
          font-size: 1.2em;
          font-weight: bold;

          span {
            color: $primarycolor;
          }
        }

        .info {
          font-size: 14px;
          margin-top: 1em;
        }
      }
    }
    .wrapper {
      display: flex;
      max-width: 80vw;
      margin: auto;
      align-items: center;
      justify-content: space-around;

      .image {
        position: relative;

        .purple {
          position: absolute;
          right: 70%;
          top: 0;
          margin-top: -8em;
          width: 15px;
        }

        .white {
          position: absolute;
          right: 70%;
          bottom: 0;
          margin-bottom: -2em;
          width: 15px;
        }

        .sec-white {
          position: absolute;
          right: 0;
          margin-right: -7em;
          top: 20%;
          margin-top: -2em;
          width: 15px;
        }
      }

      .details {
        display: flex;
        flex-direction: column;

        .ranks {
          display: flex;
          align-items: center;
          gap: 1em;
          margin-top: 8em;

          .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #d434fe;
            background: rgba(212, 52, 254, 0.12);
            padding: 10px;
            position: relative;

            .sec-white {
              position: absolute;
              width: 15px;
              right: 0;
              top: 0;
              margin-top: -7em;
            }

            p {
              width: 70%;
              line-height: 1.3;
            }

            img {
              width: 110px;
              margin-top: -4em;
            }

            div {
              color: $primarycolor;
            }
          }

          .container2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-align: center;
            border-radius: 5px;
            padding: 10px 5px;
            border: 1px solid #903aff;
            background: rgba(144, 58, 255, 0.12);
            position: relative;

            .sec-white {
              position: absolute;
              width: 15px;
              bottom: 0;
              margin-bottom: -3em;
            }

            p {
              width: 50%;
              line-height: 1.3;
            }
            img {
              width: 150px;
              margin-top: -6em;
            }

            div {
              color: $primarycolor;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .prize {
    padding: 7em 0;

    
  .lens1 {
    position: absolute;
    z-index: -1;
    top: 60%;
    right: 0;
    width: 60%;
  }

  .lens2 {
    position: absolute;
    z-index: -1;
    margin-top: 0em;
    left: -15%;
    width: 100%;
  }


    .box {
      width: 100%;
      text-align: center;
      .div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          width: 100%;
          margin-left: 0;
        }
      }
      .wrapper {
        display: flex;
        flex-direction: column;

        .image {
          margin-top: 2em;
          img {
            width: 100%;
          }

          .purple {
            width: 10px;
          }

          .white {
            width: 10px;
          }

          .sec-white {
            position: absolute;
            right: 0;
            margin-right: 0;
            top: 20%;
            margin-top: -2em;
            width: 10px;
          }
        }

        .details {
          display: flex;
          flex-direction: column;

          .ranks {
            gap: 10px;

            .container {
              img {
                width: 70px;
                margin-top: -3em;
              }
            }

            .container2 {
              img {
                width: 110px;
                margin-top: -5em;
              }
            }
          }
        }
      }
    }
  }
}
