@font-face {
  font-family: "Poppins";
  src: url("./Fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-B";
  src: url("./Fonts/Poppins/Poppins-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Poppins";
  background: #150e28;
}

body::-webkit-scrollbar {
  display: none;
}
