@font-face {
  font-family: "Montserrat";
  src: url("./Fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Poppins-B";
  src: url("./Fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

html{scroll-behavior: smooth;}

body {
  font-family: "Montserrat";
  background: #150e28;
  font-weight: 500;
}

body::-webkit-scrollbar {
  display: none;
}
