@import "../fontColors.scss";

.sponsors {
  border-bottom: $borderBottom;
  padding: 6em 0;
  position: relative;

  .lens3 {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 450px;
    bottom: -30%;
  }

  .lens4 {
    position: absolute;
    z-index: -1;
    top: 0;
    margin-top: 0;
    width: 500px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .head {
      font-size: 1.4em;
      font-weight: bold;
    }

    .info {
      font-size: 14px;
      width: 35%;
      text-align: center;
      margin-top: 1em;
    }

    .section {
      border-radius: 5px;
      border: 1px solid #d434fe;
      background: rgba(255, 255, 255, 0.01);
      padding: 3em;
      width: 700px;
      margin: auto;
      margin-top: 3em;
      position: relative;

      .purple {
        position: absolute;
        top: 0;
        margin-top: -3em;
        width: 15px;
      }

      .white {
        position: absolute;
        right: 45%;
        width: 15px;
      }

      .sec-white {
        position: absolute;
        bottom: 15%;
        right: 45%;
        width: 15px;
      }

      .container {
        padding: 10px;
        width: 70%;
        margin: auto;

        .row,
        .row1 {
          display: flex;
          align-items: center;
          gap: 1em;
          justify-content: space-around;
          div {
            height: 120px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              padding: 10px;
              width: 100px;
            }
          }

          .one,
          .two,
          .five,
          .six {
            border-right: 2px solid #d434fe;
          }

          .five,
          .six,
          .three {
            border-top: 2px solid #d434fe;
          }
        }

        .row1 {
          margin-top: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sponsors {
    max-width: 90vw;
    margin: auto;

    .lens3 {
      position: absolute;
      z-index: -1;
      right: 0;
      width: 70%;
      bottom: -30%;
      display: none;
    }

    .lens4 {
      position: absolute;
      z-index: -1;
      top: 0;
      left: -30%;
      margin-top: 0;
      width: 70%;
    }
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .head {
        font-size: 1.4em;
        font-weight: bold;
      }

      .info {
        font-size: 13px;
        width: 100%;
        text-align: center;
        margin-top: 1em;
      }

      .section {
        border-radius: 5px;
        border: 1px solid #d434fe;
        background: rgba(255, 255, 255, 0.01);
        padding: 3em;
        width: 100%;
        margin: auto;
        margin-top: 3em;

        .container {
          padding: 10px;
          width: 80%;
          margin: auto;

          .row,
          .row1 {
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
          div {
            img {
              padding: 10px;
              width: 100px;
            }
          }
        }
      }
    }
  }
}
